/* CLEAR BROWSER CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, headero, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ////////  */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #111818; }

body {
  font-family: Open Sans, sans-serif; }

main {
  overflow: hidden;
  position: relative; }

a {
  text-decoration: none; }

p {
  line-height: 1.2;
  font-size: 18px;
  color: black;
  /* ??????????? ???????? */ }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: #111818; }

section {
  position: relative; }

span {
  color: #111818; }

button {
  background-color: #fd1921;
  -webkit-box-shadow: 0 0 30px rgba(253, 25, 33, 0.5);
  box-shadow: 0 0 30px rgba(253, 25, 33, 0.5);
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  -moz-transition: box-shadow 0.2s ease-in-out;
  -ms-transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: bold; }
  button:hover {
    -webkit-box-shadow: 0 0 50px rgba(253, 25, 33, 0.7);
    box-shadow: 0 0 50px rgba(253, 25, 33, 0.7); }

.only-mobile {
  display: none; }

.only-desktop {
  display: block; }

.button-white {
  background-color: #ffffff;
  color: #111818;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .button-white:hover {
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4); }

.menu-mobile, .menu-close {
  display: none; }

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999999999999999; }
  nav .logo {
    margin-right: auto; }
    nav .logo img {
      height: 70px; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    padding-right: 70px; }
  nav li {
    cursor: pointer;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 1.55vw;
    color: #ffffff; }
  nav ul a:nth-of-type(6) {
    background-color: #fd1921;
    -webkit-box-shadow: 0 0 30px rgba(253, 25, 33, 0.5);
    box-shadow: 0 0 30px rgba(253, 25, 33, 0.5);
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -ms-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    padding: 12px 40px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 1vw;
    padding: 0 1.55vw; }
    nav ul a:nth-of-type(6):hover {
      -webkit-box-shadow: 0 0 50px rgba(253, 25, 33, 0.7);
      box-shadow: 0 0 50px rgba(253, 25, 33, 0.7); }
  nav a {
    color: #ffffff; }
  nav .facebook {
    position: absolute;
    right: 0;
    top: -5px;
    -webkit-filter: brightness(1000%);
    filter: brightness(1000%);
    -webkit-transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -ms-transition: filter 0.2s ease-in-out;
    -o-transition: filter 0.2s ease-in-out;
    -webkit-transition: -webkit-filter 0.2s ease-in-out;
    transition: -webkit-filter 0.2s ease-in-out;
    transition: filter 0.2s ease-in-out;
    transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out; }
    nav .facebook:hover {
      -webkit-filter: brightness(100%);
      filter: brightness(100%); }
    nav .facebook img {
      height: 30px; }
  nav ul > a.facebook > li {
    padding-right: 0; }

.no-color {
  background-color: transparent;
  margin-top: 20px; }
  .no-color a li {
    color: black; }
  .no-color a:nth-of-type(6) li {
    color: #ffffff !important; }

/* nav end */
#video-section {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  z-index: -99; }
  #video-section video {
    max-height: 100vh;
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden; }

.watch {
  position: absolute;
  top: 65vh;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px; }
  .watch img {
    height: 18px;
    padding-left: 20px; }

.watch-services {
  top: calc(50% - 20px);
  font-size: 40px; }
  .watch-services img {
    height: 30px;
    padding-left: 28px; }

/* #video-section end */
#special-offer {
  width: 76vw;
  margin-top: -35px;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-bottom: 60px;
  padding: 4vw 4.5vw;
  -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.28);
  z-index: 9999;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #special-offer p {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
    line-height: 1; }
  #special-offer p:nth-of-type(1) {
    color: #111818;
    font-size: 60px;
    padding-left: 5px; }
  #special-offer p:nth-of-type(2) {
    color: #fd1921;
    font-size: 76px; }
  #special-offer button {
    white-space: nowrap;
    background-color: #fd1921;
    -webkit-box-shadow: 0 0 30px rgba(253, 25, 33, 0.5);
    box-shadow: 0 0 30px rgba(253, 25, 33, 0.5);
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -ms-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    padding: 12px 40px;
    font-size: 16px;
    font-weight: bold;
    font-size: 26px;
    font-weight: bold;
    padding: 17px 100px;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2); }
    #special-offer button:hover {
      -webkit-box-shadow: 0 0 50px rgba(253, 25, 33, 0.7);
      box-shadow: 0 0 50px rgba(253, 25, 33, 0.7); }
    #special-offer button:hover {
      -webkit-box-shadow: 0 0 70px rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 70px rgba(0, 0, 0, 0.4); }
  #special-offer a {
    margin-right: 10%; }

/* #special-offer end */
.slider {
  padding-left: 18vw;
  padding-right: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  /*min-height: 100vh;*/ }
  .slider .leave {
    position: absolute;
    top: 7vw;
    right: -80px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    background-color: #111818;
    padding: 15px 120px 15px 15px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .slider .leave:hover {
      background-color: #fd1921; }
  .slider .active {
    background-color: #fd1921; }
  .slider .l1:hover {
    margin-right: 30px;
    top: calc(7vw + 30px); }
  .slider .l2 {
    top: calc(7vw + 120px); }
    .slider .l2:hover {
      margin-right: 30px;
      top: calc(7vw + 150px); }
  .slider .l3 {
    top: calc(7vw + 240px); }
    .slider .l3:hover {
      margin-right: 30px;
      top: calc(7vw + 270px); }
  .slider .l4 {
    top: calc(7vw + 360px); }
    .slider .l4:hover {
      margin-right: 30px;
      top: calc(7vw + 390px); }
  .slider .l5 {
    top: calc(7vw + 480px); }
    .slider .l5:hover {
      margin-right: 30px;
      top: calc(7vw + 510px); }
  .slider .l6 {
    top: calc(7vw + 600px); }
    .slider .l6:hover {
      margin-right: 30px;
      top: calc(7vw + 630px); }
  .slider .i2, .slider .i3, .slider .i4, .slider .i5, .slider .i6, .slider .n5, .slider .n2, .slider .n3, .slider .n4, .slider .n6,
  .slider .h2, .slider .h3, .slider .h4, .slider .h5, .slider .h6, .slider .p2, .slider .p3, .slider .p4, .slider .p5, .slider .p6,
  .slider .a-way2, .slider .a-way3, .slider .a-way4, .slider .a-way5, .slider .a-way6 {
    display: none; }
  .slider .figures {
    position: absolute;
    top: -5%;
    left: 15%;
    width: 18%; }
  .slider .figures2 {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 15%;
    z-index: -1; }
  .slider img {
    width: 31vw;
    -o-object-fit: contain;
    object-fit: contain; }
  .slider .text {
    position: absolute;
    top: 8vw;
    left: 50vw;
    width: 37vw; }
    .slider .text .top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-transform: uppercase;
      padding-bottom: 20px; }
    .slider .text .number {
      color: #fd1921;
      font-size: 180px;
      font-weight: bold;
      padding-right: 20px; }
    .slider .text .right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-size: 30px;
      font-weight: 600; }
      .slider .text .right span {
        font-size: 55px;
        font-weight: 700; }
      .slider .text .right .mma {
        font-size: 110px;
        margin-left: -7px;
        margin-bottom: -9px; }
    .slider .text p {
      font-weight: 500;
      padding-bottom: 7%; }
  .slider .button-white {
    margin-left: 3vw; }

.slider-join-now {
  margin-top: 120px; }
  .slider-join-now .figures {
    top: -70vw; }

/* #slider end */
.short {
  /*max-width: 2000px;*/
  padding-top: 110px;
  padding-bottom: 90px;
  padding-left: 12vw;
  padding-right: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .short div {
    text-transform: uppercase;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 30px; }
    .short div span {
      font-size: 80px;
      color: #fd1921;
      font-weight: 800; }
  .short button {
    white-space: nowrap;
    background-color: #fd1921;
    -webkit-box-shadow: 0 0 30px rgba(253, 25, 33, 0.5);
    box-shadow: 0 0 30px rgba(253, 25, 33, 0.5);
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -ms-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    padding: 12px 40px;
    font-size: 16px;
    font-weight: bold;
    font-size: 26px;
    font-weight: bold;
    padding: 17px 70px; }
    .short button:hover {
      -webkit-box-shadow: 0 0 50px rgba(253, 25, 33, 0.7);
      box-shadow: 0 0 50px rgba(253, 25, 33, 0.7); }

.short-normal {
  padding-top: 90px;
  padding-bottom: 90px; }

.short-smallbottom {
  padding-top: 120px;
  padding-bottom: 50px; }

/* .short end */
#about {
  padding-left: 6vw;
  padding-right: 12vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 6vh;
  /*//////// dostosowac */ }
  #about img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1; }
  #about .text {
    width: 42%; }
  #about .section-header {
    color: #ffffff; }
  #about p {
    color: #ffffff; }
  #about a {
    margin-right: 8%; }

.section-header {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 30px; }

.section-text {
  padding-bottom: 54px; }

/* #about end */
.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.4;
  margin-top: 500px;
  margin-bottom: -700px; }
  .prices .price {
    background-color: #ffffff;
    width: 18vw;
    padding: 3% 3% 5% 3%;
    margin: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.28);
    text-align: center;
    position: relative;
    overflow: hidden; }
  .prices .label {
    position: absolute;
    top: 25px;
    left: -58px;
    background-color: #fd1921;
    color: #ffffff;
    padding: 7px 60px;
    font-weight: bold;
    font-size: 14px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-transform: uppercase; }
  .prices .number {
    font-size: 80px;
    font-weight: 700;
    position: relative;
    line-height: 1.1; }
    .prices .number::after {
      content: "$";
      display: block;
      position: absolute;
      top: -4px;
      right: -20px;
      font-size: 32px; }
  .prices .red {
    color: #fd1921;
    font-size: 34px;
    font-weight: bold;
    padding-top: 12%; }
  .prices .for {
    font-weight: 600;
    font-size: 18px; }
    .prices .for span {
      color: transparent; }
  .prices .more, .prices .star {
    font-weight: 600;
    font-size: 16px; }
  .prices button {
    margin: 25% 0; }
  .prices .star {
    position: absolute;
    bottom: 27px;
    width: 60%; }

.about-prices {
  margin-top: 90px; }
  .about-prices .prices {
    margin-top: 60px;
    margin-bottom: 0; }
  .about-prices h2 {
    text-align: center;
    color: #fd1921;
    font-size: 60px;
    font-weight: bold;
    text-transform: none;
    -ms-flex-item-align: start;
    align-self: flex-start; }

.joinnow-prices {
  margin-top: 250px; }

/* prices end */
#gallery {
  padding-left: 6vw;
  padding-right: 6vw;
  margin-top: 80px;
  text-align: center; }
  #gallery h2 {
    font-size: 60px;
    font-weight: bold; }
  #gallery p {
    width: 40%;
    margin-left: 30%;
    padding-top: 18px;
    padding-bottom: 54px; }
  #gallery .photos {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #gallery .photos img {
      width: calc(100% / 5);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      height: 56.25%;
      padding: 9px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer; }

/* gallery end */
#contact {
  position: relative; }
  #contact #map {
    width: 100%;
    height: 100vh;
    position: relative; }
  #contact .gmnoprint {
    display: none; }
  #contact .gm-style button {
    display: none; }
  #contact .map-label {
    width: 20vw;
    height: auto;
    background-color: #ffffff;
    padding: 30px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 16px;
    color: #fd1921;
    position: relative;
    line-height: 1.6;
    -webkit-box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
    /*&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -20px;
			right: 6.15vw;
			
			width: 0; 
			height: 0; 
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;

			border-top: 25px solid $red;
		}*/ }
    #contact .map-label div:nth-of-type(1) {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 10px; }
    #contact .map-label div:nth-of-type(2) {
      font-size: 16px;
      color: #808080;
      padding: 0; }
    #contact .map-label div:nth-of-type(3) {
      color: #fd1921;
      padding: 0; }

.form {
  position: absolute;
  top: 17vh;
  left: 12vw;
  z-index: 9999;
  padding: 45px 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3); }
  .form h3 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; }
  .form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .form .form-2-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .form .form-2-inputs input {
      width: 50%; }
    .form .form-2-inputs #name {
      margin-right: 10px; }
    .form .form-2-inputs #lastname {
      margin-left: 10px; }
  .form input, .form textarea, .form button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Open Sans, sans-serif; }
  .form input, .form textarea {
    padding: 15px;
    font-size: 18px;
    border: 1px solid #bbb; }
  .form .message-sent {
    font-size: 18px;
    font-weight: bold;
    border: none;
    position: absolute;
    bottom: 20px;
    color: forestgreen; }
  .form ::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb;
    opacity: 1;
    /* Firefox */ }
  .form :-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb;
    opacity: 1;
    /* Firefox */ }
  .form ::-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb;
    opacity: 1;
    /* Firefox */ }
  .form ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb;
    opacity: 1;
    /* Firefox */ }
  .form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #808080;
    opacity: 1; }
  .form ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #808080;
    opacity: 1; }

/* form end */
/* #contact end */
footer {
  position: absolute;
  bottom: 0;
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 10%;
  z-index: 999; }
  footer span {
    color: #808080; }
  footer a {
    color: #808080;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
  footer a:hover {
    color: #fd1921; }

/* /// SUB PAGE /// */
.subsection-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 65%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 67%); }

.subsection-person {
  position: absolute;
  top: -40px;
  right: -5px;
  width: 54%; }

.subsection-person-muaythai {
  top: 20px; }

.subsection-person-wingchun {
  width: 32%;
  top: 20px;
  right: 12%; }

.subsection-person-kids {
  top: -2vw;
  width: 70%;
  right: -10%; }

.subsection-person-judo {
  top: 8vw;
  width: 65%;
  right: -10%; }

.subsection-person-hit {
  width: 36%;
  top: 20px;
  right: 10%; }

.about-person {
  width: 40%;
  right: 9%; }

.subsection-figures-white {
  position: absolute;
  top: 24vh;
  right: 5vw;
  width: 85%; }

.about-figures-white {
  right: 2vw; }

.subpage-top {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-left: 12%;
  padding-right: 51%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .subpage-top h1 {
    color: #ffffff;
    font-size: 76px;
    font-style: italic;
    font-weight: 800; }
  .subpage-top p {
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 36px;
    text-align: justify; }

.joinnow-top h1 {
  font-style: normal; }

.joinnow-top a:nth-of-type(2) {
  margin-left: 3vw; }

/* subpage top end */
.mirror {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .block .person {
    width: 45vw; }
  .block .person-left {
    margin-left: 5vw; }
  .block .person-right {
    margin-left: 47vw; }
  .block .figures {
    position: absolute;
    top: 17vw;
    left: 12%;
    width: 28%; }
  .block .text {
    position: absolute;
    top: 0;
    width: 40vw;
    text-align: justify; }
  .block .text-right {
    left: 50vw; }
  .block .text-left {
    left: 10vw; }
  .block h2 {
    color: #fd1921;
    font-size: 60px;
    font-weight: bold;
    text-transform: none; }
  .block p {
    padding-top: 30px;
    padding-bottom: 42px; }
  .block a:nth-of-type(2) {
    margin-left: 3vw; }

.single-first {
  padding-top: 22vw;
  padding-bottom: 0; }
  .single-first .text {
    top: 37vw; }

.single-2 {
  margin-top: -8vw; }
  .single-2 .text {
    top: 18vw; }
  .single-2 .figures {
    top: -8vw;
    left: 56%;
    width: 32%; }

.joinnow-1 {
  margin-top: 6vw; }
  .joinnow-1 .person-left {
    margin-left: 12vw; }
  .joinnow-1 .text {
    top: 10vw; }
  .joinnow-1 .figures {
    top: 20vw; }

.joinnow-2 {
  margin-top: 5vw; }
  .joinnow-2 .text {
    top: 2vw; }
  .joinnow-2 .person {
    width: 57.5vw; }
  .joinnow-2 .person-right {
    margin-left: 48vw; }

.about-1 {
  margin-bottom: 120px; }
  .about-1 .text {
    position: relative;
    margin-top: 16vw; }

.about-2 {
  margin-bottom: 140px; }
  .about-2 .person-left {
    margin-left: 7vw; }
  .about-2 .text {
    top: 28vw; }

.muaythai-2 .text {
  margin-top: 7vw; }

.muaythai-2 .figures {
  top: -2vw; }

.wingchun-1 .person-left {
  width: 25%;
  margin-left: 14vw; }

.wingchun-2 .person-right {
  width: 25%;
  margin-left: 60vw; }

.wingchun-2 .figures {
  top: -14vw; }

.kids-1 {
  padding-top: 12vw; }
  .kids-1 .text {
    top: 30vw; }
  .kids-1 .figures {
    top: 8vw; }

.kids-2 .person-right {
  width: 25%;
  margin-left: 60vw; }

.judo-1 {
  padding-top: 35vw; }
  .judo-1 .person-left {
    width: 48%; }
  .judo-1 .figures {
    top: 37vw; }

.judo-2 {
  padding-top: 12vw; }

.hit-1 {
  padding-top: 5vw; }
  .hit-1 .person-left {
    width: 27%;
    margin-left: 10vw; }

.hit-2 {
  padding-top: 12vw; }
  .hit-2 .person-right {
    width: 53%; }

/* subpage end */
#testimonials {
  padding-top: 0;
  padding-left: 12vw;
  padding-right: 12vw;
  padding-bottom: 100px;
  position: relative; }
  #testimonials .testimonials-bg {
    -o-object-fit: cover;
    object-fit: cover;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  #testimonials h2 {
    color: #fd1921;
    font-size: 80px;
    font-weight: bold;
    text-transform: none; }
  #testimonials p {
    padding-top: 30px;
    padding-bottom: 90px;
    width: 52%;
    text-align: justify; }
  #testimonials .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #testimonials .box {
    width: 100%;
    max-width: 440px;
    position: relative;
    text-align: center;
    color: black;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.28);
    padding: 0;
    cursor: pointer; }
    #testimonials .box:nth-of-type(2) {
      margin: 0 70px; }
  #testimonials .box img {
    height: 310px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top; }
  #testimonials .play {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: calc(50% - 16px);
    margin: auto;
    width: 32px !important;
    height: auto !important; }
  #testimonials .text {
    padding: 50px 40px 80px 40px; }
  #testimonials h3 {
    font-weight: bold;
    font-size: 30px;
    text-transform: none; }
  #testimonials h6 {
    text-transform: none;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 30px; }
  #testimonials blockquote {
    font-size: 18px; }

/* #testimonials end */
.about-timetable {
  padding-left: 12vw;
  padding-right: 12vw;
  padding-top: 100px; }
  .about-timetable h2 {
    text-align: center;
    color: #fd1921;
    font-size: 60px;
    font-weight: bold;
    text-transform: none;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-bottom: 70px; }
  .about-timetable .timetable {
    background-color: black;
    width: 100%;
    height: 70vh; }

/* timetable end */
.download {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  display: block;
  width: 100%; }
  .download img {
    height: 58px;
    padding-left: 10px;
    padding-top: 10px; }

/* download end */
.joinnow-top .form {
  top: 17vh;
  right: 12vw;
  max-width: 37vw;
  left: auto; }

#service-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 6vw;
  padding-left: 6vw;
  margin-top: 180px;
  margin-bottom: 120px; }
  #service-boxes a {
    width: calc(100% / 3 - 60px);
    height: 100%;
    margin: 10px; }
  #service-boxes img {
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #service-boxes img:hover {
      -webkit-box-shadow: 0 0 120px rgba(0, 0, 0, 0.38);
      box-shadow: 0 0 120px rgba(0, 0, 0, 0.38); }

/* #service-boxes end */
.meet {
  padding-left: 12vw;
  padding-right: 12vw;
  padding-top: 100px; }
  .meet .meet-bg {
    width: 100%;
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 47%;
    z-index: -1; }
  .meet h2 {
    color: #fd1921;
    font-size: 60px;
    font-weight: bold;
    text-transform: none;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-bottom: 30px; }
  .meet p {
    font-size: 18px;
    width: 85%; }
  .meet img {
    width: 100%; }
  .meet .trainer {
    position: absolute;
    bottom: 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: bold; }
    .meet .trainer span:nth-of-type(1) {
      text-transform: uppercase;
      font-size: 65px;
      color: #ffffff;
      padding-bottom: 15px; }
    .meet .trainer span:nth-of-type(2) {
      font-size: 30px;
      color: #ffffff; }
  .meet .trainer-1 {
    left: 16%; }
  .meet .trainer-2 {
    left: 38%; }
  .meet .trainer-3 {
    left: 61%; }

@media screen and (max-width: 1700px) {
  /* homepage */
  #special-offer {
    margin-left: 10vw;
    margin-right: 10vw;
    width: auto; }
  #special-offer a {
    margin-right: 6%; }
  .section-header {
    padding-bottom: 24px; }
  .section-header, #gallery h2, .form h3 {
    font-size: 56px; }
  #gallery p {
    width: 45%;
    margin-left: 27.5%; }
  .section-text {
    padding-bottom: 48px; }
  .slider .text .number {
    font-size: 160px; }
  .slider .text .right {
    font-size: 26px; }
  .slider .text .right span {
    font-size: 48px; }
  .short-smallbottom {
    padding-top: 20px; }
  .short {
    padding-left: 10vw;
    padding-right: 10vw; }
  .short div {
    font-size: 26px; }
  .short div span {
    font-size: 67px; }
  .short button {
    font-size: 25px;
    padding: 16px 65px; }
  .prices .price {
    width: 20vw; }
  #contact .map-label {
    width: 22vw; }
  #testimonials .box {
    margin: 0; }
  #testimonials .box:nth-of-type(2) {
    margin: 0 50px; }
  .subpage-top h1 {
    font-size: 72px; }
  .subsection-bg {
    height: 107vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%); }
  .joinnow-prices {
    margin-top: 150px; }
  .joinnow-top .form {
    right: 6vw; }
    .joinnow-top .form textarea {
      height: 10em; }
  .subpage-top {
    height: 90vh; }
  .meet {
    padding-top: 50px; }
  .meet .trainer span:nth-of-type(1) {
    font-size: 50px; }
  .meet .trainer span:nth-of-type(2) {
    font-size: 24px; }
  .slider .text .right .mma {
    font-size: 90px;
    margin-left: -6px; }
  .prices {
    margin-top: 450px;
    margin-bottom: -590px; } }

@media screen and (max-width: 1500px) {
  nav li {
    padding: 15px 1.5vw; }
  nav ul {
    padding-right: 60px; }
  nav .facebook img {
    height: 26px; }
  #special-offer p:nth-of-type(1) {
    font-size: 52px; }
  #special-offer p:nth-of-type(2) {
    font-size: 68px; }
  #special-offer button {
    font-size: 24px;
    padding: 15px 80px; }
  .slider {
    padding-left: 16vw; }
  .slider img {
    width: 33vw; }
  .slider .text .number {
    font-size: 140px;
    padding-right: 18px; }
  .slider .text .right {
    font-size: 22px; }
  .slider .text .right span {
    font-size: 44px; }
  .slider .text .top {
    padding-bottom: 18px; }
  .slider .leave {
    font-size: 36px;
    padding: 12px 115px 12px 12px; }
  .slider .l1:hover {
    margin-right: 20px;
    top: calc(7vw + 20px); }
  .slider .l2 {
    top: calc(7vw + 100px); }
    .slider .l2:hover {
      margin-right: 20px;
      top: calc(7vw + 120px); }
  .slider .l3 {
    top: calc(7vw + 200px); }
    .slider .l3:hover {
      margin-right: 20px;
      top: calc(7vw + 220px); }
  .slider .l4 {
    top: calc(7vw + 300px); }
    .slider .l4:hover {
      margin-right: 20px;
      top: calc(7vw + 320px); }
  .slider .l5 {
    top: calc(7vw + 400px); }
    .slider .l5:hover {
      margin-right: 20px;
      top: calc(7vw + 420px); }
  .slider .l6 {
    top: calc(7vw + 500px); }
    .slider .l6:hover {
      margin-right: 20px;
      top: calc(7vw + 520px); }
  .short {
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 80px;
    padding-bottom: 80px; }
  .short div {
    font-size: 23.5px; }
  .short div span {
    font-size: 60px; }
  .short button {
    font-size: 24px;
    padding: 15px 56px; }
  .prices {
    margin-top: 450px;
    margin-bottom: -600px; }
  .prices .price {
    width: 23vw; }
  #gallery p {
    width: 50%;
    margin-left: 25%; }
  .form {
    top: 11vh;
    left: 8vw; }
  #contact .map-label {
    width: 24vw; }
  .form h3 {
    padding-bottom: 26px;
    padding-left: 26px;
    padding-right: 26px; }
  .block.single-2 > img.person.person-right.mirror, .single-2 .figures {
    margin-top: 10vw; } }

@media screen and (max-width: 1400px) {
  nav {
    height: 90px; }
  nav li {
    padding: 13px 1.45vw;
    font-size: 15px; }
  nav ul {
    padding-right: 50px; }
  nav .facebook img {
    height: 24px; }
  p, .meet p {
    font-size: 17px; }
  .slider {
    padding-left: 14vw; }
  .short button {
    font-size: 22px;
    padding: 14px 52px; }
  .short div {
    font-size: 22px; }
  .short div span {
    font-size: 57px; }
  .prices .number {
    font-size: 78px; }
  .prices .for {
    font-size: 17px; }
  .prices .red {
    font-size: 32px; }
  .prices .star {
    width: 70%; }
  .form {
    padding: 44px 28px; }
  .form h3 {
    padding-bottom: 22px;
    padding-left: 0px;
    padding-right: 0px; }
  .form .form-2-inputs #lastname {
    margin-left: 8px; }
  .form input, .form textarea {
    padding: 12px;
    font-size: 17px; }
  .section-header, #gallery h2, .form h3 {
    font-size: 50px; }
  .subsection-bg {
    height: 130vh; }
  #testimonials .box:nth-of-type(2) {
    margin: 0 40px; }
  #testimonials .text {
    padding: 40px 30px 70px 30px; }
  #testimonials h2, .subpage-top h1 {
    font-size: 72px; }
  #testimonials p {
    padding-bottom: 80px;
    width: 60%; }
  .about-prices h2, .about-timetable h2, .block h2, .meet h2 {
    font-size: 56px; }
  .meet .trainer span:nth-of-type(1) {
    font-size: 43px; }
  .meet .trainer span:nth-of-type(2) {
    font-size: 22px; }
  .slider .text .right .mma {
    font-size: 90px;
    margin-left: -6px; }
  .joinnow-prices {
    margin-top: 130px; }
  .subpage-top {
    height: 100vh; }
  .subsection-bg {
    height: 115vh; }
  .joinnow-2 .person-right {
    margin-top: 80px; }
  .block .figures {
    width: 24%; }
  .single-first {
    padding-top: 18vw; }
  .single-first .text {
    top: 29vw; }
  .prices {
    margin-top: 510px;
    margin-bottom: -630px; } }

@media screen and (max-width: 1300px) {
  p, .meet p {
    font-size: 16px; }
  .slider {
    padding-left: 12vw; }
  .slider img {
    width: 35vw; }
  .watch {
    font-size: 22px; }
  .prices .number {
    font-size: 76px; }
  .prices .number::after {
    font-size: 30px; }
  .prices .red {
    font-size: 30px;
    padding-top: 8%; }
  .prices .label {
    top: 20px;
    left: -62px;
    padding: 6px 60px;
    font-size: 13px; }
  .prices .more, .prices .star {
    font-size: 15px; }
  /*button {
		padding: 11px 40px;
    	font-size: 15px;
	}*/
  #gallery p {
    width: 56%;
    margin-left: 22%; }
  .short {
    padding-left: calc(5vw + 9px);
    padding-right: calc(5vw + 9px); }
  #contact .map-label {
    width: 28vw;
    padding: 25px;
    padding-bottom: 35px; }
  footer {
    font-size: 16px;
    padding: 20px 6%; }
  #service-boxes {
    padding-right: 4vw;
    padding-left: 4vw; }
  #service-boxes a {
    width: calc(100% / 3 - 30px);
    margin: 6px; }
  .download img {
    height: 52px; }
  .slider-join-now .figures {
    top: -50vw; }
  .meet .trainer span:nth-of-type(1) {
    font-size: 38px; }
  .meet .trainer span:nth-of-type(2) {
    font-size: 20px; }
  .single-first {
    padding-top: 14vw; }
  .single-first .text {
    top: 24vw; }
  .subsection-person-kids {
    top: 7vw; } }

@media screen and (max-width: 1200px) {
  nav {
    padding-left: 6%;
    padding-right: 6%;
    height: 85px; }
  #special-offer p:nth-of-type(1) {
    font-size: 46px; }
  #special-offer p:nth-of-type(2) {
    font-size: 60px; }
  #special-offer button {
    font-size: 24px;
    padding: 13px 70px; }
  #special-offer a {
    margin-right: 2%; }
  .slider {
    padding-left: 10vw; }
  .slider img {
    width: 37vw; }
  .slider .text .number {
    font-size: 120px;
    padding-right: 16px; }
  .slider .text .right {
    font-size: 20px; }
  .slider .text .right span {
    font-size: 38px; }
  .slider .text .top {
    padding-bottom: 12px; }
  .short div {
    font-size: 20px; }
  .short div span {
    font-size: 50px; }
  .prices .number {
    font-size: 70px; }
  #about {
    height: 105vh; }
  #about img {
    height: 105vh;
    -o-object-position: 25%;
    object-position: 25%; }
  #about .text {
    width: 51%; }
  .prices .number::after {
    font-size: 28px; }
  .prices .red {
    font-size: 29px; }
  .prices .more, .prices .star {
    font-size: 17px; }
  .form {
    padding: 30px 24px; }
  .subpage-top {
    padding-left: 8%; }
  .download img {
    height: 48px; }
  .about-person {
    right: 6%; }
  .joinnow-2 .person-right {
    margin-top: 140px; }
  .joinnow-2 {
    margin-top: 7vw; }
  .slider .text .right .mma {
    font-size: 80px;
    margin-left: -5px; }
  .slider-join-now {
    margin-top: 100px; }
  .subsection-person-kids {
    top: 10vw; } }

@media screen and (max-width: 1100px) {
  p, .meet p {
    font-size: 16px; }
  .short div {
    font-size: 18px; }
  .short div span {
    font-size: 46px; }
  .short button {
    font-size: 20px;
    padding: 12px 46px; }
  #special-offer button {
    font-size: 20px;
    padding: 12px 66px; }
  .slider .text {
    left: 46vw;
    width: 40vw; }
  .section-header, #gallery h2, .form h3 {
    font-size: 46px;
    padding-bottom: 20px; }
  .section-text {
    padding-bottom: 40px; }
  .slider .leave {
    font-size: 32px;
    padding: 10px 110px 10px 10px; }
  .slider .l1:hover {
    margin-right: 10px;
    top: calc(7vw + 10px); }
  .slider .l2 {
    top: calc(7vw + 90px); }
    .slider .l2:hover {
      margin-right: 10px;
      top: calc(7vw + 100px); }
  .slider .l3 {
    top: calc(7vw + 180px); }
    .slider .l3:hover {
      margin-right: 10px;
      top: calc(7vw + 190px); }
  .slider .l4 {
    top: calc(7vw + 270px); }
    .slider .l4:hover {
      margin-right: 10px;
      top: calc(7vw + 280px); }
  .slider .l5 {
    top: calc(7vw + 360px); }
    .slider .l5:hover {
      margin-right: 10px;
      top: calc(7vw + 370px); }
  .slider .l6 {
    top: calc(7vw + 450px); }
    .slider .l6:hover {
      margin-right: 10px;
      top: calc(7vw + 460px); }
  .prices .price {
    width: 24vw; }
  .form {
    padding: 42px 20px;
    top: 8vh;
    left: 4vw; }
  .form input, .form textarea {
    padding: 10px;
    font-size: 17px; }
  #contact .map-label {
    padding: 20px;
    padding-bottom: 30px; }
  #contact .map-label div:nth-of-type(1) {
    font-size: 16px;
    padding-bottom: 7px; }
  #contact .map-label div:nth-of-type(2),
  #contact .map-label div:nth-of-type(3) {
    font-size: 15px; }
  footer {
    font-size: 15px;
    padding: 13px 4%; }
  #contact #map {
    height: 105vh; }
  .label {
    top: 25px;
    left: -58px; }
  #service-boxes {
    margin-top: 140px;
    margin-bottom: 80px; }
  .about-2 {
    margin-bottom: 180px; }
  #testimonials {
    padding-left: 10vw;
    padding-right: 10vw; }
  #testimonials .box img {
    height: 280px; }
  #testimonials .text {
    padding: 30px 20px 50px 20px; }
  #testimonials h2, .subpage-top h1 {
    font-size: 66px; }
  #testimonials p {
    padding-bottom: 80px;
    width: 70%; }
  .about-prices h2, .about-timetable h2, .block h2, .meet h2 {
    font-size: 50px; }
  .about-prices .prices {
    padding-bottom: 0; }
  .subpage-top h1 {
    padding-top: 30px; }
  .about-timetable {
    padding-left: 10vw;
    padding-right: 10vw; }
  .joinnow-2 {
    margin-top: 14vw; }
  .joinnow-2 .person-right {
    margin-top: 200px; }
  .joinnow-2 .person-right {
    margin-left: 50vw; }
  .block.single-first > img.person.person-left.mirror {
    margin-left: 3vw; }
  .block.single-2 > img.person.person-right.mirror, .single-2 .figures {
    margin-top: 14vw; }
  .single-first {
    padding-top: 14vw; }
  .single-first .text {
    top: 22vw; }
  .block .person-right {
    margin-left: 52vw; }
  .prices {
    margin-top: 390px;
    margin-bottom: -650px; } }

@media screen and (max-width: 1030px) {
  .about-2 {
    margin-bottom: 200px; }
  #testimonials h2, .subpage-top h1 {
    font-size: 60px; }
  .subpage-top {
    padding-left: 6%; }
  .about-1 {
    margin-bottom: 100px; }
  #testimonials {
    padding-left: 6vw;
    padding-right: 6vw; }
  #testimonials .box img {
    height: 240px; }
  #testimonials h3 {
    font-size: 28px; }
  .about-prices {
    margin-top: 70px; }
  .about-timetable {
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 70px; }
  .download img {
    height: 44px; }
  .meet .trainer span:nth-of-type(1) {
    font-size: 30px;
    padding-bottom: 10px; }
  .meet .trainer span:nth-of-type(2) {
    font-size: 16px; }
  /* hamburger menu */
  /* hamburger */
  .menu-mobile {
    display: block;
    height: 25px;
    cursor: pointer;
    margin-right: 25px; }
  .menu-close {
    display: block;
    height: 40px;
    z-index: 999999;
    position: absolute;
    top: 25px;
    right: 45px;
    cursor: pointer; }
  nav {
    height: 90px;
    padding-left: 25px;
    padding-right: 0;
    background-color: transparent; }
    nav ul {
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      background-color: #ffffff;
      position: fixed;
      top: 0;
      left: 0; }
    nav ul li {
      font-size: 3.5vh;
      color: black;
      padding: 15px 0; }
    nav ul a:last-of-type {
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
  nav .facebook {
    position: relative;
    right: 0;
    top: 5px;
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
    -webkit-transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -ms-transition: filter 0.2s ease-in-out;
    -o-transition: filter 0.2s ease-in-out;
    -webkit-transition: -webkit-filter 0.2s ease-in-out;
    transition: -webkit-filter 0.2s ease-in-out;
    transition: filter 0.2s ease-in-out;
    transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out; }
    nav .facebook:hover {
      -webkit-filter: brightness(100%);
      filter: brightness(100%); }
    nav .facebook img {
      height: 30px; }
  .only-desktop {
    display: none; }
  .only-mobile {
    display: block; }
  #special-offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
  #special-offer p:nth-of-type(2) {
    padding: 5px 0 15px 0; }
  p, .meet p {
    font-size: 17px; }
  .slider {
    padding-bottom: 100px; }
  #about {
    height: 165vh;
    padding-top: 7vh;
    padding-bottom: 4vh;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 6vw;
    padding-right: 6vw; }
  #about img {
    height: 165vh;
    -o-object-position: center 80%;
    object-position: center 80%; }
  #about .text {
    width: 100%;
    text-align: center; }
  #about a {
    margin-right: 10px;
    margin-left: 10px; }
  .owl-dots {
    display: none; }
  .owl-carousel .owl-item img {
    margin-left: 50%; }
  #gallery {
    padding-left: 0;
    padding-right: 0; }
  .short {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .short div span {
    padding-top: 6px;
    padding-bottom: 20px; }
  .prices .price {
    padding: 3% 3% 7% 3%; }
  #gallery .photos {
    display: none; }
  .prices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: -600px;
    margin-top: 340px; }
  .prices .price {
    width: 97%;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 4px solid #fd1921; }
  .prices .price:nth-of-type(1) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .prices .label {
    top: 26px;
    left: -56px;
    padding: 7px 62px; }
  .prices button {
    font-size: 18px;
    padding: 13px 50px;
    margin: 25px 0; }
  .prices .red {
    width: 100%;
    padding-top: 25px;
    border-top: 2px dashed lightgray; }
  .prices .label {
    top: 36px;
    left: -54px;
    padding: 8px 62px;
    font-size: 18px; }
  .prices .star {
    width: 92%; }
  #pricing > div:nth-child(2) > span.for {
    padding-bottom: 20px; }
  .prices .number {
    font-size: 90px; }
  .prices .number::after {
    font-size: 36px; }
  .prices .for, .prices .more {
    font-size: 22px; }
  .prices .red {
    font-size: 36px; }
  .prices .star {
    font-size: 18px; }
  .section-header, #gallery h2, .form h3, .short div span {
    font-size: 56px; }
  .form h3 {
    font-size: 50px; }
  p, .meet p {
    font-size: 20px; }
  .watch {
    font-size: 26px; }
  .slider .text {
    position: relative;
    left: 0;
    padding-bottom: 70px; }
  .short div {
    font-size: 22px; }
  button {
    font-size: 18px; }
  .slider .button-white {
    margin-left: 15px; }
  .slider button {
    position: absolute;
    width: 100%;
    margin-top: 20px; }
  .b1 {
    left: -40vw;
    width: 40vw;
    margin-right: 15px; }
  .b2 {
    left: 0;
    width: 40vw; }
  #contact #map {
    height: 125vh; }
  #contact .map-label div:nth-of-type(2), #contact .map-label div:nth-of-type(3) {
    font-size: 18px; }
  #contact .map-label div:nth-of-type(1) {
    font-size: 20px; }
  /*.form {
		width: 47%;
	}*/
  #contact #map {
    height: 1200px; }
  #contact .map-label {
    width: 50vw; }
  .form {
    width: 90vw;
    top: auto;
    bottom: 45px;
    left: 4vw; }
  #service-boxes a {
    width: calc(50% - 10px);
    margin: 3px 5px; }
  #service-boxes {
    margin-bottom: 50px; }
  #service-boxes {
    margin-top: 120px; }
  .subpage-top h1 {
    padding-top: 0px; }
  .subsection-person {
    top: -40px;
    right: -17%;
    width: 60%; }
  .block.single-first > img.person.person-left.mirror {
    margin-left: -12vw; }
  .single-first .text {
    top: 25vw; }
  .block .text-right {
    left: 30vw; }
  .block .text {
    width: 62vw; }
  .single-2 {
    margin-top: 0; }
  /* single */
  .subpage-top {
    height: 110vh; }
  .subsection-bg {
    height: 135vh; }
  .subpage-top {
    padding-right: 35%; }
  .block .text {
    position: relative; }
  .single-first .text {
    top: 10vw; }
  .block .text-right {
    left: -20px; }
  .block button {
    width: calc(50% - 20px); }
  .block .text-left {
    left: 6vw; }
  .single-2 {
    margin-top: 17vw;
    margin-bottom: 30px; }
    .single-2 .mirror {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg); }
  .block.single-2 > img.person.person-right.mirror, .single-2 .figures {
    margin-top: -2vw; }
  .block .person {
    width: 55vw; }
  .block .person-right {
    margin-left: 5vw;
    margin-right: -24vw; }
  .single-2 .text {
    top: 0; }
  .subsection-person-kids {
    top: 25vw;
    right: -20%;
    width: 80%; }
  .subsection-figures-white {
    right: -12vw; }
  .kids-2 .person-right {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    width: 35vw;
    margin-left: 7vw; } }

@media screen and (max-height: 580px) {
  /*#contact #map {
		height: 145vh;
	}*/
  .form h3 {
    font-size: 48px; }
  #about {
    height: 195vh; }
  #about img {
    height: 195vh; } }

@media screen and (max-height: 500px) {
  /*#contact #map {
		height: 165vh;
	}*/
  .form h3 {
    font-size: 44px; } }

@media screen and (max-aspect-ratio: 4 / 3) {
  .prices {
    margin-top: 420px;
    margin-bottom: -570px; }
  #contact .map-label {
    padding: 16px;
    padding-bottom: 20px; }
  .joinnow-top .form {
    top: 23vh; }
  /*.slider {
		min-height: 90vh;
	}*/
  #about {
    height: 95vh; }
  .watch {
    top: 52vh; } }

@media screen and (max-width: 860px) {
  .slider {
    padding-top: 120px;
    padding-right: 4vw; }
  .slider .text .top {
    top: -270px;
    padding-bottom: 20vw;
    left: 0vw;
    position: absolute; }
  .slider img {
    margin-left: -12vw; }
  .slider .text .number {
    font-size: 140px; }
  .slider .text .right {
    font-size: 24px; }
  .slider .text .right span {
    font-size: 42px; }
  .slider .text {
    width: 65vw;
    top: 140px;
    left: -10vw;
    padding-bottom: 140px; }
  .slider button {
    width: 35vw; }
  .b1 {
    left: -16vw; }
  .b2 {
    left: auto;
    right: -4vw; }
  .i2 {
    margin-top: -80px; }
  .i5 {
    margin-top: -80px; }
  #about {
    height: 265vh; }
  #about img {
    height: 265vh;
    -o-object-position: center 55%;
    object-position: center 55%; }
  .form {
    width: 89vw; }
  #service-boxes a {
    width: calc(100% - 10px);
    margin: 3px 5px; }
  #service-boxes {
    margin-top: 100px; }
  .block button {
    width: 100%;
    margin-bottom: 15px; }
  .block a:nth-of-type(2) {
    margin-left: 0; } }

@media screen and (max-width: 800px) {
  .subsection-bg {
    height: 160vh; }
  .subpage-top {
    height: 130vh; }
  .subsection-person {
    top: -40px;
    right: -23%;
    width: 72%; }
  .single-first .text {
    top: 17vw; }
  .single-2 {
    margin-top: 26vw; } }

@media screen and (max-width: 780px) {
  .short div {
    font-size: 4.5vw;
    text-align: center;
    width: 100%;
    line-height: 1.1; }
  .short div span {
    line-height: 1;
    font-size: 13vw; }
  .short button {
    width: 86vw; }
  .subsection-bg {
    height: 190vh; }
  .subpage-top {
    height: 150vh; }
  .subpage-top {
    padding-right: 30%; }
  .subsection-person {
    top: -60px;
    right: -30%;
    width: 80%; }
  .single-first .text {
    top: 25vw; }
  .single-2 {
    margin-top: 35vw; }
  .block.single-2 > img.person.person-right.mirror, .single-2 .figures {
    margin-top: -25vw; } }

@media screen and (max-width: 700px) {
  .slider .text .number {
    font-size: 120px; }
  .slider .text .right {
    font-size: 22px; }
  .slider .text .right span {
    font-size: 37px; }
  .slider .text .top {
    top: -230px; }
  .slider .text {
    left: -12vw;
    top: 110px; }
  .slider {
    padding-top: 120px;
    padding-bottom: 60px; }
  .b1 {
    left: -12vw; }
  #about {
    height: 245vh; }
  #about img {
    height: 245vh;
    -o-object-position: center 55%;
    object-position: center 55%; }
  .prices .price {
    padding: 3% 3% 11% 3%; }
  .prices {
    margin-bottom: -650px; }
  #gallery p {
    width: 86%;
    margin-left: 7%; }
  .short div span {
    line-height: 1;
    font-size: 12vw; }
  .subsection-bg {
    height: 200vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%); }
  .subpage-top {
    height: 170vh; }
  .subsection-figures-white {
    right: -10vw; }
  .subsection-person {
    top: -20px;
    right: -40%;
    width: 90%; }
  .block.single-first > img.person.person-left.mirror {
    margin-top: -20vw; }
  .short {
    padding-top: 40px; }
  #testimonials h2, .subpage-top h1 {
    font-size: 56px; }
  .subpage-top h1 {
    padding-top: 30px; }
  .about-prices h2, .about-timetable h2, .block h2, .meet h2 {
    font-size: 46px; } }

@media screen and (max-width: 650px) {
  #special-offer p:nth-of-type(1) {
    font-size: 40px; }
  #special-offer p:nth-of-type(2) {
    font-size: 54px; }
  #special-offer button {
    font-size: 20px;
    padding: 12px 56px; }
  .section-header, #gallery h2, .form h3 {
    font-size: 50px; }
  nav {
    height: 75px; }
  nav .logo img {
    height: 55px; }
  .menu-mobile {
    height: 20px; }
  .watch {
    font-size: 20px; }
  .watch img {
    height: 16px;
    padding-left: 16px; }
  .slider button {
    width: 40vw; }
  .b1 {
    left: -17vw; }
  .b2 {
    right: -10vw; }
  .short {
    padding-top: 40px; }
  #about {
    height: 305vh; }
  #about img {
    height: 305vh;
    -o-object-position: center 55%;
    object-position: center 55%; }
  .menu-close {
    height: 30px; }
  nav ul li {
    font-size: 6vh;
    color: black;
    padding: 7px 0; }
  .form {
    width: 88vw; }
  .about-prices h2, .about-timetable h2, .block h2, .meet h2 {
    font-size: 40px; }
  .block.single-first > img.person.person-left.mirror {
    margin-top: -28vw; } }

@media screen and (max-width: 600px) {
  .owl-carousel .owl-item img {
    margin-left: 0%; }
  .subsection-bg {
    height: 240vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%); }
  .subpage-top {
    height: 210vh; }
  .subsection-person {
    top: 50px;
    right: -50%;
    width: 100%; }
  .block.single-first > img.person.person-left.mirror {
    margin-top: -60vw; }
  .single-first {
    padding-top: 22vw; } }

@media screen and (max-width: 570px) {
  .prices .number {
    font-size: 80px; }
  .prices .number::after {
    font-size: 32px; }
  .prices .for, .prices .more {
    font-size: 18px; }
  .prices .star {
    font-size: 17px; }
  #contact .map-label {
    width: 60vw; }
  .section-header, #gallery h2, .form h3 {
    font-size: 46px; }
  .slider button {
    width: 42vw;
    padding: 12px 10px; }
  #about {
    height: 345vh; }
  #about img {
    height: 345vh;
    -o-object-position: center 55%;
    object-position: center 55%; }
  .prices {
    margin-bottom: -740px; } }

@media screen and (max-width: 500px) {
  .form {
    width: 87vw; } }

@media screen and (orientation: portrait) {
  .watch {
    top: 39vw; }
  #about {
    height: 90vh; }
  #about img {
    height: 90vh; }
  .prices {
    margin-top: 200px;
    margin-bottom: -420px; }
  #gallery p {
    width: 86%;
    margin-left: 7%; }
  #contact .map-label {
    width: 55vw; }
  .subpage-top {
    height: 50vh; }
  .subsection-bg {
    height: 55vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%); }
  .subsection-figures-white {
    top: 14vh;
    right: -13vw;
    width: 85%; }
  .single-first .text {
    top: 0; }
  .single-2 {
    margin-top: 10vw; } }

@media screen and (orientation: portrait) and (max-width: 800px) {
  .prices {
    margin-top: -50px;
    margin-bottom: 0px; }
  .block.single-first > img.person.person-left.mirror {
    margin-top: -30vw; }
  .subpage-top {
    height: 60vh; }
  .subsection-bg {
    height: 65vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%); }
  .single-first .text {
    top: 6vw; }
  .single-first {
    padding-top: 20vw; }
  .single-2 {
    margin-top: 16vw; }
  p, .meet p {
    font-size: 19px; } }

@media screen and (orientation: portrait) and (max-width: 650px) {
  #contact .map-label {
    width: 65vw; }
  nav ul li {
    font-size: 4vh;
    color: black;
    padding: 10px 0; }
  .subpage-top {
    height: 70vh; }
  .subsection-bg {
    height: 80vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%); }
  .single-first {
    padding-top: 40vw; } }

@media screen and (orientation: portrait) and (max-width: 580px) {
  #special-offer p:nth-of-type(1) {
    font-size: 32px; }
  #special-offer p:nth-of-type(2) {
    font-size: 48px; }
  #special-offer button {
    padding: 12px 48px; }
  .slider .text .top {
    left: -10vw; }
  .slider button {
    width: 40vw; }
  #about {
    height: 140vh; }
    #about button {
      width: 100%;
      margin-top: 10px; }
  #about img {
    height: 140vh; }
  .subpage-top {
    height: 88vh; }
  .subsection-bg {
    height: 98vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%); }
  .subsection-person {
    top: 100px; }
  .about-prices h2, .about-timetable h2, .block h2, .meet h2 {
    font-size: 36px; }
  p, .meet p {
    font-size: 18px; }
  .subpage-top h1 {
    padding-top: 0; }
  button {
    padding: 12px 32px; }
  .single-first {
    padding-top: 36vw; } }

@media screen and (orientation: portrait) and (max-width: 500px) {
  #special-offer p:nth-of-type(1) {
    font-size: 28px; }
  #special-offer p:nth-of-type(2) {
    font-size: 44px; }
  .slider .text .number {
    padding-right: 2px;
    font-size: 100px; }
  .slider .text .right {
    font-size: 20px; }
  .slider .text .right span {
    font-size: 30px; }
  #testimonials h2, .subpage-top h1 {
    font-size: 50px; }
  .subpage-top {
    height: 95vh; }
  .subsection-bg {
    height: 105vh; }
  .block, .block .single-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .single-first .text {
    top: 0vw; }
  .block .text-right {
    left: 0; }
  .block .text, .block .single-2 {
    width: 80vw;
    left: 0; }
  .block .person {
    display: none; }
  .subpage-top {
    padding-right: 25%; }
  .single-first {
    padding-top: 25vw; } }

@media screen and (orientation: portrait) and (max-width: 440px) {
  .prices .price {
    padding: 3% 3% 22% 3%; }
  #about {
    height: 180vh; }
  #about img {
    height: 180vh; }
  #special-offer p:nth-of-type(2) {
    font-size: 38px; }
  .watch {
    top: 36vw;
    font-size: 17px; } }
