/* CLEAR BROWSER CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, headero, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ////////  */




$red: #fd1921;
$black: #111818;
$white: #ffffff;
$gray: #808080;
$header: 60px;
$header_big: 76px;
$text: 18px;
$button: 16px;
$text_posredni: 16px;
$prices: 80px;
$from_age: 80px;
$exo: Exo, sans-serif;
$openSans: Open Sans, sans-serif;


@mixin button {
	background-color: $red;
	box-shadow: 0 0 30px rgba(253, 25, 33, 0.5);
	text-transform: uppercase;
	border: none;
	color: $white;
	cursor: pointer;
	@include transition(box-shadow);
	padding: 12px 40px;
	font-size: $button;
	font-weight: bold;
	
	&:hover {
		box-shadow: 0 0 50px rgba(253, 25, 33, 0.7);
	}
}
@mixin button-white {
	background-color: $white;
	color: $black;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	&:hover {
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
	}
}
@mixin box-shadow-black {
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.28);
}
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}

* {
	box-sizing: border-box;
	color: $black;
}
body {
	font-family: $openSans;
	
}
main {
	overflow: hidden;
	position: relative;
}
a {
	text-decoration: none;
}
p {
	line-height: 1.2;
	font-size: $text;
	color: black;				/* ??????????? ???????? */
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	color: $black;
}
section {
	position: relative;
}
span {
	color: $black;
}
button {
	@include button;
}
.button-white {
	@include button-white;
}

.menu-mobile, .menu-close {
	display: none;
}

nav {
	position: fixed;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: 100px;
	background-color: rgba(0,0,0,0.3);
	z-index: 9999999999999999;
	
	.logo {
		margin-right: auto;
		
		img {
			height: 70px;
		}
	}
	ul {
		display: flex;
		justify-content: flex-end;
	}
	li {
		list-style-type: none;
		text-transform: uppercase;
		font-weight: 700;
		padding: 15px 1.55vw;
		color: $white;
	}
	ul a:last-of-type {
		@include button;
		margin-left: 1vw;
		padding: 0 1.55vw;
	}
	a {
		color: $white;
	}
}
.no-color {
	background-color: transparent;
	margin-top: 20px;
	
	a li {
		color: black;
	}
	a:nth-of-type(6) li {
		color: $white !important;
	}
}
/* nav end */

#video-section {
	position: relative;
	max-height: 100vh;
	overflow: hidden;
	z-index: -99;
	
	video {
		max-height: 100vh;
		width: 100vw;
		object-fit: cover;
		overflow: hidden;
	}
}
.watch {
	position: absolute;
	top: 65vh;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	cursor: pointer;
	text-transform: uppercase;
	font-style: italic;
	text-align: center;
	color: $white;
	font-weight: 700;
	font-size: 24px;
	img {
		height: 18px;
		padding-left: 20px;
	}
}
.watch-services {
	top: calc(50% - 20px);
	font-size: 40px;
	img {
		height: 30px;
		padding-left: 28px;
	}
}
/* #video-section end */

#special-offer {
	width: 76vw;
	margin-top: -35px;
	margin-left: 12vw;
	margin-right: 12vw;
	margin-bottom: 60px;
	padding: 4vw 4.5vw;
	@include box-shadow-black;
	z-index: 9999;
	background-color: $white;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	p {
		text-transform: uppercase;
		font-style: italic;
		font-weight: 800;
		line-height: 1;
	}
	p:nth-of-type(1) {
		color: $black;
		font-size: $header;
		padding-left: 5px;
	}
	p:nth-of-type(2) {
		color: $red;
		font-size: $header_big;
	}
	button {
		white-space: nowrap;
		@include button;
		font-size: 26px;
		font-weight: bold;
		padding: 17px 100px;
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
		&:hover {
			box-shadow: 0 0 70px rgba(0, 0, 0, 0.4);
		}
	}
	a {
		margin-right: 10%;
	}
	
}
/* #special-offer end */

.slider {
	padding-left: 18vw;
	padding-right: 12vw;
	display: flex;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	
	
	.leave {
		position: absolute;
		top: 7vw;
		right: -80px;
		transform: rotate(-45deg);
		margin-bottom: 40px;
		font-size: 40px;
		font-weight: bold;
		color: $white;
		background-color: $black;
		padding: 15px 120px 15px 15px;
		cursor: pointer;
		@include transition(all);
		
		&:hover {
			background-color: $red;
		}
	}
	.active {
		background-color: $red;
	}
	.l1 {
		&:hover {
			margin-right: 30px;
			top: calc(7vw + 30px);
		}
	}
	.l2 {
		top: calc(7vw + 120px);
		
		&:hover {
			margin-right: 30px;
			top: calc(7vw + 150px);
		}
	}	
	.l3 {
		top: calc(7vw + 240px);
		
		&:hover {
			margin-right: 30px;
			top: calc(7vw + 270px);
		}
	}	
	.l4 {
		top: calc(7vw + 360px);
		
		&:hover {
			margin-right: 30px;
			top: calc(7vw + 390px);
		}
	}	
	.l5 {
		top: calc(7vw + 480px);
		
		&:hover {
			margin-right: 30px;
			top: calc(7vw + 510px);
		}
	}	
	.i2, .i3, .i4, .i5, .n5, .n2, .n3, .n4, 
	.h2, .h3, .h4, .h5, .p2, .p3, .p4, .p5,
	.a-way2, .a-way3, .a-way4, .a-way5 {
		display: none;
	}
	
	img {
		width: 31vw;
    	object-fit: contain;
	}
	.text {
		position: absolute;
		top: 8vw;
		left: 50vw;
		width: 37vw;
		
		.top {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			padding-bottom: 20px;
		}
		.number {
			color: $red;
			font-size: 180px;
			font-weight: bold;
			padding-right: 20px;
		}
		.right {
			display: flex;
			flex-direction: column;
			font-size: 30px;
			font-weight: 600;
			
			span {
				font-size: 55px;
				font-weight: 700;
			}
		}
		p {
			font-weight: 500;
			padding-bottom: 7%;
		}
	}
	.button-white {
		margin-left: 2.5vw;
	}
}
.slider-join-now {
	margin-top: 120px;
}
/* #slider end */

.short {
	max-width: 2000px;
	padding-top: 110px;
	padding-bottom: 90px;
	padding-left: 12vw;
	padding-right: 12vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	div {
		text-transform: uppercase;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		font-size: 30px;
		span {
			font-size: $from_age;
			color: $red;
			font-weight: 800;
		}
	}
	
	button {
		white-space: nowrap;
		@include button;
		font-size: 26px;
		font-weight: bold;
		padding: 17px 70px;
	}
}
.short-normal {
	padding-top: 90px;
	padding-bottom: 90px;
}
.short-smallbottom {
	padding-top: 120px;
	padding-bottom: 50px;
}
/* .short end */

#about {
	padding-left: 6vw;
	padding-right: 12vw;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	padding-bottom: 6vh;    /*//////// dostosowac */
	
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		object-fit: cover;
		z-index: -1;
	}
	.text {
		width: 42%;
	}
	.section-header {
		color: $white;
	}
	p {
		color: $white;
	}
	a {
		margin-right: 8%;
	}
}
.section-header {
	font-size: $header;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: $header/2;
}
.section-text {
	padding-bottom: $text * 3;
}
/* #about end */

.prices {
	display: flex;
	justify-content: center;
	line-height: 1.4;
	margin-top: -130px;
	
	.price {
		background-color: $white;
		width: 18vw;
		padding: 3% 3% 5% 3%;
		margin: 1.5vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include box-shadow-black;
		text-align: center;
		position: relative;
		overflow: hidden;
	}
	.label {
		position: absolute;
		top: 25px;
		left: -58px;
		background-color: $red;
		color: $white;
		padding: 7px 60px;
		font-weight: bold;
		font-size: 14px;
		transform: rotate(-45deg);
		text-transform: uppercase;
	}
	.number {
		font-size: $prices;
		font-weight: 700;
		position: relative;
		line-height: 1.1;
		&::after {
			content: "$";
			display: block;
			position: absolute;
			top: -4px;
			right: -20px;
			font-size: 32px;
		}
	}
	.red {
		color: $red;
		font-size: 34px;
		font-weight: bold;
		padding-top: 12%;
	}
	.for {
		font-weight: 600;
		font-size: $text;
		span {
			color: transparent;
		}
	}
	.more, .star {
		font-weight: 600;
		font-size: $text_posredni;
	}
	button {
		margin: 25% 0;
	}
	.star {
		position: absolute;
		bottom: $text * 1.5;
		width: 60%;
	}
}
.about-prices {
	margin-top: 90px;
	
	.prices {
		margin-top: 60px;
	}
	
	h2 {
		text-align: center;
		color: $red;
		font-size: 60px;
		font-weight: bold;
		text-transform: none;
		align-self: flex-start;
	}
}
.joinnow-prices {
	margin-top: 250px;
}
/* prices end */

#gallery {
	padding-left: 6vw;
	padding-right: 6vw;
	margin-top: 80px;
	text-align: center;
	
	h2 {
		font-size: $header;
		font-weight: bold;
	}
	p {
		width: 40%;
		margin-left: 30%;
		padding-top: $text;
		padding-bottom: $text * 3;
	}
	.photos {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		img {
			width: calc(100% / 5);
			//max-width: 100%;
			background-size: cover;
    		background-repeat: no-repeat;
    		background-position: 50% 50%;
			height: 56.25%;
			
			padding: 9px;
			box-sizing: border-box;
			cursor: pointer;
		}
	}
}
/* gallery end */

#contact {
	position: relative;
	
	#map {
		width: 100%;
		height: 100vh;
		position: relative;
	}
	.gmnoprint {
		display: none;
	}
	.gm-style button {
		display: none;
	}
	.map-label {
		width: 20vw; 
		height: auto;
		background-color: $white;
		padding: 30px;
		padding-bottom: 40px;
		font-weight: bold;
		font-size: $text_posredni;
		color: #fd1921;
		position: relative;
		line-height: 1.6;
		box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
		
		/*&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -20px;
			right: 6.15vw;
			
			width: 0; 
			height: 0; 
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;

			border-top: 25px solid $red;
		}*/
		div:nth-of-type(1) {
			text-transform: uppercase;
			font-weight: bold;
			font-size: $text;
			padding-bottom: 10px;
		}
		div:nth-of-type(2) {
			font-size: $text_posredni;
			color: $gray;
			padding: 0;
		}
		div:nth-of-type(3) {
			color: $red;
			padding: 0;
		}
	}
}

.form {
	position: absolute;
	top: 17vh;
	left: 12vw;
	z-index: 9999;
	padding: 45px 30px;
	
	background-color: $white;
	box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
	
	h3 {
		font-size: $header;
		font-weight: bold;
		text-align: center;
		padding-bottom: $header / 2;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	form {
		display: flex;
		flex-direction: column;
	}
	.form-2-inputs {
		display: flex;
		
		input {
			width: 50%;
		}
		#name {
			margin-right: 10px;
		}
		#lastname {
			margin-left: 10px;
		}
	}
	input, textarea, button {
		margin-top: 10px;
		margin-bottom: 10px;
		font-family: $openSans;
	}
	input, textarea {
		padding: 15px;
		font-size: $text;
		border: 1px solid #bbb;
	}
	.message-sent {
		font-size: $text;
		font-weight: bold;
		border: none;
		position: absolute;
		bottom: 20px;
		color: forestgreen;
	}
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #bbb;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $gray;
		opacity: 1;
	}

	::-ms-input-placeholder { /* Microsoft Edge */
		color: $gray;
		opacity: 1;
	}
}

/* form end */
/* #contact end */

footer {
	position: absolute;
	bottom: 0;
	color: $gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px 10%;
	z-index: 999;
	span {
		color: $gray;
	}
	a {
		color: $gray;
		@include transition(color);
	}
	a:hover {
		color: $red;
	}
}

/* /// SUB PAGE /// */

.subsection-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	object-fit: cover;
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 65%);
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 67%);
}
.subsection-person {
	position: absolute;
	top: -40px;
	right: -5px;
	width: 54%;
}
.subsection-person-muaythai {
	top: 20px;
}
.subsection-person-wingchun {
	width: 32%;
	top: 20px;
	right: 12%;
}
.subsection-person-kids {
	top: -2vw;
	width: 70%;
	right: -10%;
}
.subsection-person-judo {
	top: 8vw;
	width: 65%;
	right: -10%;
}
.subsection-person-hit {
	width: 36%;
	top: 20px;
	right: 10%;
}
.about-person {
	width: 40%;
	right: 9%;
}
.subsection-figures-white {
	position: absolute;
	top: 24vh;
	right: 5vw;
	width: 85%;
}
.about-figures-white {
	right: 2vw;
}

.subpage-top {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
	
	padding-left: 12%;
	padding-right: 51%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	h1 {
		color: $white;
		font-size: $header_big;
		font-style: italic;
		font-weight: 800;
	}
	p {
		color: $white;
		padding-top: 16px;
		padding-bottom: 36px;
		text-align: justify;
	}
}
.joinnow-top {
	h1 {
		font-style: normal;
	}
	a:nth-of-type(2) {
		margin-left: 3vw;
	}
}
/* subpage top end */

.mirror {
	transform: rotateY(180deg);
}

.block {
	display: flex;
	align-items: center;
	position: relative;
	
	.person {
		width: 45vw;
	}
	.person-left {
		margin-left: 5vw;
	}
	.person-right {
		margin-left: 47vw;
	}
	.figures {
		position: absolute;
		top: 27vw;
		left: 12%;
		width: 28%;
	}
	.text {
		position: absolute;
		top: 0;
		width: 40vw;
		text-align: justify;
	}
	.text-right {
		left: 50vw;
	}
	.text-left {
		left: 10vw;
	}
	h2 {
		color: $red;
		font-size: $header;
		font-weight: bold;
		text-transform: none;
	}
	p {
		padding-top: 30px;
		padding-bottom: 42px;
	}
	a:nth-of-type(2) {
		margin-left: 3vw;
	}
}
.single-first {
	padding-top: 22vw;
	padding-bottom: 0;
	
	.text {
		top: 37vw;
	}
}
.single-2 {
	margin-top: -8vw;
	
	.text {
		top: 18vw;
	}
	.figures {
		top: 18vw;
		left: 56%;
		width: 32%;
	}
}
.joinnow-1 {
	margin-top: 6vw;
	
	.person-left {
		margin-left: 12vw;
	}
	.text {
		top: 10vw;
	}
	.figures {
		top: 2vw;
	}
}
.joinnow-2 {
	margin-top: 5vw;
	
	.text {
		top: 2vw;
	}
	.person {
		width: 57.5vw;
	}
	.person-right {
		margin-left: 48vw;
	}
}
.about-1 {
	margin-bottom: 120px;
	
	.text {
		position: relative;
		margin-top: 16vw;
	}
}
.about-2 {
	margin-bottom: 140px;
	
	.person-left {
		margin-left: 7vw;
	}
	.text {
		top: 28vw;
	}
}
.muaythai-2 {
	.text {
		margin-top: 7vw;
	}
}
.wingchun-1 {
	.person-left {
		width: 25%;
		margin-left: 14vw;
	}
}
.wingchun-2 {
	.person-right {
		width: 25%;
		margin-left: 60vw;
	}
}
.kids-1 {
	padding-top: 12vw;
	
	.text {
		top: 30vw;
	}
}
.kids-2 {
	.person-right {
		width: 25%;
		margin-left: 60vw;
	}
}
.judo-1 {
	padding-top: 35vw;
	
	.person-left {
		width: 48%;
	}
	figures {
		top: 37vw;
	}
}
.judo-2 {
	padding-top: 12vw;
}
.hit-1 {
	padding-top: 5vw;
	
	.person-left {
		width: 27%;
		margin-left: 10vw;
	}
}
.hit-2 {
	padding-top: 12vw;
	
	.person-right {
		width: 53%;
	}
}

/* subpage end */

#testimonials {
	padding-top: 0;
	padding-left: 12vw;
	padding-right: 12vw;
	padding-bottom: 100px;
	position: relative;
	
	.testimonials-bg {
		object-fit: cover;
		height: 50%;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	h2 {
		color: $red;
		font-size: $from_age;
		font-weight: bold;
		text-transform: none;
	}
	p {
		padding-top: 30px;
		padding-bottom: 90px;
		width: 52%;
		text-align: justify;
	}
	.boxes {
		display: flex;
		justify-content: center;
	}
	.box {
		width: 100%;
		max-width: 440px;
		position: relative;
		margin: 0 35px;
		text-align: center;
		color: black;
		background-color: $white;
		@include box-shadow-black;
		padding: 0;
		cursor: pointer;
	}
	.box img {
		height: 310px;
		width: 100%;
		object-fit: cover;
		object-position: top;
	}
	.play {
		position: absolute;
		left: 0; 
  		right: 0; 
		top: 0;
		bottom: calc(50% - 16px);
  		margin: auto; 
		width: 32px !important;
		height: auto!important;
	}
	.text {
		padding: 50px 40px 80px 40px;
	}
	h3 {
		font-weight: bold;
		font-size: 30px;
		text-transform: none;
	}
	h6 {
		text-transform: none;
		font-size: 16px;
		padding-top: 10px;
		padding-bottom: 30px;
	}
	blockquote {
		font-size: 18px;
	}
}
/* #testimonials end */

.about-timetable {
	padding-left: 12vw;
	padding-right: 12vw;
	padding-top: 100px;
	
	h2 {
		text-align: center;
		color: $red;
		font-size: 60px;
		font-weight: bold;
		text-transform: none;
		align-self: flex-start;
		padding-bottom: 70px;
	}
	.timetable {
		background-color: black;
		width: 100%;
		height: 70vh;
	}
}
/* timetable end */

.download {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	display: block;
	width: 100%;
	
	img {
		height: 58px;
		padding-left: 10px;
	}
}
/* download end */

.joinnow-top {
	
	.form {
		top: 17vh;
    	right: 12vw;
		left: auto;
	}
}

#service-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-right: 6vw;
	padding-left: 6vw;
	margin-top: 180px;
	margin-bottom: 120px;
	
	a {
		width: calc(100% / 3 - 60px);
		height: 100%;
		margin: 10px;
	}
	img {
		width: 100%;
	}
}
/* #service-boxes end */

.meet {
	padding-left: 12vw;
	padding-right: 12vw;
	padding-top: 100px;
	
	.meet-bg {
		width: 100%;
		position: absolute;
		bottom: 2px;
		left: 0;
		height: 47%;
		z-index: -1;
	}
	h2 {
		color: $red;
		font-size: 60px;
		font-weight: bold;
		text-transform: none;
		align-self: flex-start;
		padding-bottom: 30px;
	}
	p {
		font-size: $text;
		width: 85%;
	}
	img {
		width: 100%;
	}
	.trainer {
		position: absolute;
		bottom: 12%;
		
		display: flex;
		flex-direction: column;
		font-weight: bold;
		
		span:nth-of-type(1) {
			text-transform: uppercase;
			font-size: 65px;
			color: $white;
			padding-bottom: 15px;
		}
		span:nth-of-type(2) {
			font-size: 30px;
			color: $white;
		}
	}
	.trainer-1 {
		left: 16%;
	}
	.trainer-2 {
		left: 38%;
	}
	.trainer-3 {
		left: 61%;
	}
}














@media screen and (max-width: 1680px) {
	$from_age: 30px;
	
	#slider .text .right span {
    	font-size: 50px;
	}
	.short {
		padding-left: 10vw;
    	padding-right: 10vw;
	}
	.short div {
		font-size: 26px;
	}
}




